

body{background-color:yellow }
a:link {color:blue;}
a:visited{color:rosybrown;}

body h1:{color: red; text-align: center; }
p:first-letter {font-size: 2.5em; font-style: italic; font-weight: bold;}
body h2 {text-align: right; color: blue; font-style: italic;}
span{color: red;}
h2:last-of-type {font-size: 1.875em;}
table tr {text-align: center;}
table td: first-of-type{font-weight: bold;}


table, tr, td {
    border: 1px solid black;
    padding: 10px;
    border-spacing: 5px;
    border-collapse: collapse;
}


.redText { color:red; }
.redwwc { color: red; }
.redtag { color: red; }

@keyframes myfirst
{
from {background:PaleVioletRed; left:0; top:0;}
to {background: DarkViolet; left:calc(100% - 150px); top:0;}
}

#box
{
 width: 150px;
 height: 65px;
 background: PaleVioletRed ;
 position: relative;
 text-align: center; 
    
animation: myfirst 12s 2s infinite alternate; 
}

h1{ color:red; text-align: center;}

@keyframes greenbox 
{
from {background: yellow; color:black;}
to { background: green; color: white;}
}

#tables 
{ 
  width: 750px;
  height: 118px;
  font-weight: bold;
  animation: greenbox 12s forwards; 
}




