body {
    background-color: #FFFFFF;
    color: #1a1a1a;
    background-image: url(background.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 80%;
    min-width: 960px;
    box-shadow: 5px 5px 5px #90C7E3;
    background-color: #66ccff;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: #000033;
    color: white;
    font-family: "Times New Roman", Georgia, Serif;
    margin-bottom: 0;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

#nav {
    background-color: #66ccff;
    padding: 25px;
}

#nav ul {
    margin: 0;
    padding-left: 0;
}

#nav ul li {
    list-style-type: none;
    font-size: 1.2em;
}

#nav a {
    text-decoration: none;
}

a:link {
    color: #000033;
}

a:visited {
    color: #344873;
}

a:hover {
    color: white;
}

strong {
    color: #00004d;
}

h2 {
    color: #000033;
    font-family: "Times New Roman", Georgia, Serif;
    text-shadow: 2px 2px grey;
}

.resort {
    color: #000033;
    font-weight: bold;
}

#content ul {
    list-style-position: inside;
}

#contact {
    font-size: 0.9em;
}

#footer {
    font-size: 75%;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
    clear: both;
}

#coast {
    float: left;
    margin-right: 2em;
}

h3 {
    color: #000033;
    font-family: "Times New Roman", Georgia, Serif;
}

@keyframes birdy {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: calc(100% - 100px);
        top: 0;
    }
}

#bird {
    position: relative;
    animation: birdy 5s linear 2s infinite;
}

@media (max-width:480px) {
    img {
        display: none;
    }
}

@media (min-width:481px) {
    #content {
        overflow: auto;
    }
    #nav {
        float: left;
    }
}